@model EntityLayer.Concrete.Announcement

@{
    ViewData["Title"] = "AnnouncementManagerDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Duyuru Detayları</h1>
<br />

<form class="form-group">
    @Html.Label("ID")
    @Html.TextBoxFor(x=> x.ID)
    <br />
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.Content,10,3,new{ @class = "form-control"})
</form> 